body {
	padding: 50px
}

.chatroom {
	overflow: scroll;
	height:80vh;
	padding: 1em;
}

.message {
	clear:both;
	display:inline-block;
	padding:10px;
	margin:1em 0 0.5em;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}

.username {
	text-align: left;
	float: left;
	font-size: 10px;
	clear:both;
	display:inline-block;
	padding:1px;
	margin:0.1em 0 0.1em;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}

.sent {
	color:#fff;
	text-align: right;
	float:right;
	background:#075698; /* default background for browsers without gradient support */
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#2e88c4), to(#075698));
	background:-moz-linear-gradient(#2e88c4, #075698);
	background:-o-linear-gradient(#2e88c4, #075698);
	background:linear-gradient(#2e88c4, #075698);
}

.received {
	color: #000;
	text-align: left;
	float: left;
	background:#DCDCDC; /* default background for browsers without gradient support */
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#2e88c4), to(#DCDCDC));
	background:-moz-linear-gradient(#F8F8FF, #DCDCDC);
	background:-o-linear-gradient(#F8F8FF, #DCDCDC);
	background:linear-gradient(#F8F8FF, #DCDCDC);
}

form #message {
	float: right;
}

input#id_content {
	width: 80vw;
	height: 15vh;
}
