{% extends 'base.html' %}

{% block body_block %}
<script type="text/javascript" src="/static/js/client.js"></script>
<div class="chatroom row-fluid">
    <div class="span12">
    {% if context.messages %}
        {% for message in context.messages %}
            {% if message.username == user.username %}
            <div class="message sent"> {{ message.content }} </div>
            {% else %}
            <div class="username"> {{ message.username }} </div>
            <div class="message received"> {{ message.content }} </div>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>No messages are available.</p>
    {% endif %}
  </div>
</div>
<div id="wrapper">

    <form id="message" action="/chat/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
    </form>
</div>
{% endblock %}
