<!DOCTYPE html>
<html>
    <head>
        <title>Chatroom</title>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/client.css' %}" />
        <script type="text/javascript" src="{% static 'jquery-1.11.1.min.js' %}"></script>
        <!--  Bootstrap -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

        <script type="text/javascript" src="{% static 'socket.io.min.js' %}"></script>
    </head>

    <body>
    {% block body_block %}{% endblock %}
    </body>
</html>
